// Credits to paulgoddarddesign.com
doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    // [ if !mso]> <!
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    // <![endif]
    meta(content="telephone=no" name="format-detection")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    title Verification email Template
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="http://paulgoddarddesign.com/js/ripple.js")
    style(type="text/css").
      .ExternalClass {width: 100%;}
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div, .ExternalClass b, .ExternalClass br, .ExternalClass img {line-height: 100% !important;}
      img {color: #ffffff;text-align: center;font-family: Open Sans, Helvetica, Arial, sans-serif;display: block;}
      body {margin: 0;padding: 0;-webkit-text-size-adjust: 100% !important;-ms-text-size-adjust: 100% !important;font-family: 'Open Sans', Helvetica, Arial, sans-serif!important;}
      body,#body_style {background: #fffffe;}
      table td {border-collapse: collapse;border-spacing: 0 !important;}
      table tr {border-collapse: collapse;border-spacing: 0 !important;}
      table tbody {border-collapse: collapse;border-spacing: 0 !important;}
      table {border-collapse: collapse;border-spacing: 0 !important;}
      span.yshortcuts,a span.yshortcuts {color: #000001;background-color: none;border: none;}
      span.yshortcuts:hover,
      span.yshortcuts:active,
      span.yshortcuts:focus {color: #000001; background-color: none; border: none;}
      img {-ms-interpolation-mode: : bicubic;}
      a[x-apple-data-detectors] {color: inherit !important;text-decoration: none !important;font-size: inherit !important;font-family: inherit !important;font-weight: inherit !important;line-height: inherit !important;
      }
      /**** My desktop styles ****/
      @media only screen and (min-width: 600px) {
      .noDesk {display: none !important;}
      .td-padding {padding-left: 15px!important;padding-right: 15px!important;}
      .padding-container {padding: 0px 15px 0px 15px!important;mso-padding-alt: 0px 15px 0px 15px!important;}
      .mobile-column-left-padding { padding: 0px 0px 0px 0px!important; mso-alt-padding: 0px 0px 0px 0px!important; }
      .mobile-column-right-padding { padding: 0px 0px 0px 0px!important; mso-alt-padding: 0px 0px 0px 0px!important; }
      .mobile {display: none !important}
      }
      /**** My mobile styles ****/
      @media only screen and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 1) {
      *[class].wrapper { width:100% !important; }
      *[class].container { width:100% !important; }
      *[class].mobile { width:100% !important; display:block !important; }
      *[class].image{ width:100% !important; height:auto; }
      *[class].center{ margin:0 auto !important; text-align:center !important; }
      *[class="mobileOff"] { width: 0px !important; display: none !important; }
      *[class*="mobileOn"] { display: block !important; max-height:none !important; }
      p[class="mobile-padding"] {padding-left: 0px!important;padding-top: 10px;}
      .padding-container {padding: 0px 15px 0px 15px!important;mso-padding-alt: 0px 15px 0px 15px!important;}
      .hund {width: 100% !important;height: auto !important;}
      .td-padding {padding-left: 15px!important;padding-right: 15px!important;}
      .mobile-column-left-padding { padding: 18px 0px 18px 0px!important; mso-alt-padding: 18px 0px 18px 0px!important; }
      .mobile-column-right-padding { padding: 18px 0px 0px 0px!important; mso-alt-padding: 18px 0px 0px 0px!important; }
      .stack { width: 100% !important; }
      img {width: 100%!important;height: auto!important;}
      *[class="hide"] {display: none !important}
      }
      .button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition: all .2s;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      }
      .button.raised:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);transition: all .2s;
      -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);transition: all .2s;
      -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);transition: all .2s;
      }
      .card-1 {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
      -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
      -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
      transition: box-shadow .45s;
      }
  body(style="margin:0; padding:0; background-color: #eeeeee;" bgcolor="#eeeeee")
    // START EMAIL
    table(width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#eeeeee")
      tr
        td(height="36px")
      div(style="display: none; max-height: 0px; overflow: hidden;")
        | 
      // Insert &zwnj;&nbsp; hack after hidden preview text
      div(style="display: none; max-height: 0px; overflow: hidden;")
        | ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌
      // START CARD 1
      tr
        td.padding-container(width="100%" valign="top" align="center" style="padding-top: 0px!important; padding-bottom: 18px!important; mso-padding-alt: 0px 0px 18px 0px;")
          table.wrapper(width="600" cellpadding="0" cellspacing="0" border="0" align="center")
            tr
              td
                table(cellpadding="0" cellspacing="0" border="0")
                  tr
                    td.card-1(style="border-radius: 3px; border-bottom: 2px solid #d4d4d4;" width="100%" valign="top" align="center")
                      table.wrapper(style="border-radius: 3px;" width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff")
                        tr
                          td(align="center")
                            table.container(width="600" cellpadding="0" cellspacing="0" border="0")
                              tr
                                td(height="36px")
                              // START BODY COPY
                              tr
                                td.td-padding(align="left" style="font-family: 'Roboto Mono', monospace; color: #212121!important; font-size: 24px; line-height: 30px; padding-top: 18px; padding-left: 18px!important; padding-right: 18px!important; padding-bottom: 0px!important; mso-line-height-rule: exactly; mso-padding-alt: 18px 18px 0px 13px;")
                                  | #{__("verification_email.title", {name: process.env.WEBSITE_NAME})}
                              tr
                                td.td-padding(align="left" style="font-family: 'Roboto Mono', monospace; color: #212121!important; font-size: 16px; line-height: 24px; padding-top: 18px; padding-left: 18px!important; padding-right: 18px!important; padding-bottom: 0px!important; mso-line-height-rule: exactly; mso-padding-alt: 18px 18px 0px 18px;")
                                  | #{__("verification_email.body")}
                                  br
                                  br
                                  //- |                                   Enjoy! :)
                              // END BODY COPY
                              // BUTTON
                              tr
                                td(align="left" style="padding: 18px 18px 18px 18px; mso-alt-padding: 18px 18px 18px 18px!important;")
                                  table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                    tr
                                      td
                                        table(border="0" cellspacing="0" cellpadding="0")
                                          tr
                                            td(align="left" style="border-radius: 3px;" bgcolor="#17bef7")
                                              a.button.raised(href=`${process.env.VERIFICATION_URL}?token=${verificationToken}` target="_blank" style="font-size: 14px; line-height: 14px; font-weight: 500; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 10px 25px; border: 1px solid #17bef7; display: inline-block;") #{__("verification_email.button")}
                              // END BUTTON
      // END CARD 1
      // FOOTER
      tr
        td.padding-container(width="100%" valign="top" align="center")
          table.wrapper(width="600" cellpadding="0" cellspacing="0" border="0" align="center")
            tr
              td(width="100%" valign="top" align="center")
                table.wrapper(width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#eeeeee")
                  tr
                    td(align="center")
                      table.container(width="600" cellpadding="0" cellspacing="0" border="0")
                        tr
                          // SOCIAL
                          td(align="center" width="300" style="padding-top: 0px!important; padding-bottom: 18px!important; mso-padding-alt: 0px 0px 18px 0px;")
                            table(border="0" cellspacing="0" cellpadding="0")
                              tr
                                td.social(align="right" valign="top")
                                  a(href=`${process.env.FRONTEND_URL}`)
                                    i.material-icons
                                      | language
                          // END SOCIAL
                        tr
                          td.td-padding(align="center" style="font-family: 'Roboto Mono', monospace; color: #212121!important; font-size: 16px; line-height: 24px; padding-top: 0px; padding-left: 0px!important; padding-right: 0px!important; padding-bottom: 0px!important; mso-line-height-rule: exactly; mso-padding-alt: 0px 0px 0px 0px;")
                            | #{process.env.WEBSITE_NAME}
      // FOOTER
    // END EMAIL